<%- include("./partials/header.ejs") %>
    <title>Compare</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> | <a href="/locus">Locus Mode</a> | <a class="active" href="/compare">Compare Mode</a></h2>
    <div class="content" id="content">
        <label id="destLabel" for="fZip">First Zip</label><br>
        <input type="text" id="fZip" name="fZip" placeholder="Enter a Zip Code or City Here..."><br><br>
        <label id="destLabel2" for="sZip">Second Zip</label><br>
        <input type="text" id="sZip" name="sZip" placeholder="Enter a Zip Code or City Here..."><br><br>
        <input type="submit" value="Submit" id="submit">
    </div>

    <div class="fZipInfo" id="fZipInfo">
    </div>

    <div class="sZipInfo" id="sZipInfo">
    </div>

    <!--Dark Mode Toggle and Code-->
    <label class="switch">
        <input type="checkbox" id="darkTrigger">
        <span class="slider"></span>
    </label>
    <!-- Local Storage Implementation Based On: https://www.youtube.com/watch?v=wodWDIdV9BY&ab_channel=KevinPowell -->
    <script>
        var darkBody = document.body;
        var darkContentDiv = document.getElementById("content");
        var darkLabel = document.getElementById("destLabel");
        var darkLabel2 = document.getElementById("destLabel2");
        // Check for previously saved Dark Mode Settings in localStorage
        let darkBodyStorage = localStorage.getItem('darkModeBody');
        let darkContentDivStorage = localStorage.getItem('darkModeDiv');
        let darkLabelStorage = localStorage.getItem('darkModeLabel');
        let darkLabelStorage2 = localStorage.getItem('darkModeLabel');
        // Dark Mode Checkbox Selector
        const darkModeToggle = document.querySelector('#darkTrigger');
        //Enable Dark Mode
        const enableDarkMode = () => {
            // Enable Dark Mode CSS Features
            darkBody.classList.add("darkModeBody");
            darkContentDiv.classList.add("darkModeDiv");
            darkLabel.classList.add("darkModeLabel");
            darkLabel2.classList.add("darkModeLabel");
            // Update Dark Mode state to localStorage (enabled)
            localStorage.setItem('darkModeBody', 'enabled');
            localStorage.setItem('darkModeDiv', 'enabled');
            localStorage.setItem('darkModeLabel', 'enabled');
        }
        //Disable Dark Mode Features
        const disableDarkMode = () => {
            // Disable Dark Mode CSS Features
            darkBody.classList.remove("darkModeBody");
            darkContentDiv.classList.remove("darkModeDiv");
            darkLabel.classList.remove("darkModeLabel");
            darkLabel2.classList.remove("darkModeLabel");
            // Update Dark Mode state to localStorage (disabled)
            localStorage.setItem('darkModeBody', 'disabled');
            localStorage.setItem('darkModeDiv', 'disabled');
            localStorage.setItem('darkModeLabel', 'disabled');
        }
        // If a user has already enabled dark mode on previous visit, enable dark mode
        if (darkBodyStorage === 'enabled') {
            enableDarkMode();
            //Automatically check checkbox slider if Dark Mode is already on
            darkModeToggle.checked = true;
        }
        // Event Listener for Checklist Toggle
        darkModeToggle.addEventListener('change', () => {
            // Update Dark Mode Variables on Change
            darkBodyStorage = localStorage.getItem('darkModeBody');
            darkContentDivStorage = localStorage.getItem('darkModeDiv');
            darkLabelStorage = localStorage.getItem('darkModeLabel');
            darkLabelStorage2 = localStorage.getItem('darkModeLabel');
            // Change Modes
            // If not enabled, enable
            if (darkBodyStorage !== 'enabled') {
                enableDarkMode();
                // If enabled, disable
            } else {
                disableDarkMode();
            }
        });
    </script>

</body>
</html>

<!--<script src="js/compare.js"></script>-->