<%- include("./partials/header.ejs") %>
    <title>Compare</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> | <a href="/locus">Locus Mode</a> | <a class="active" href="/compare">Compare Mode</a></h2>
    <div class="content" id="content">
        <label for="fZip">First Zip</label><br>
        <input type="text" id="fZip" name="fZip" placeholder="Enter a Zip Code Here..."><br><br>
        <label for="sZip">Second Zip</label><br>
        <input type="text" id="sZip" name="sZip" placeholder="Enter a Zip Code Here..."><br><br>
        <input type="submit" value="Submit" id="submit">
    </div>

    <div class="fZipInfo" id="fZipInfo">
    </div>

    <div class="sZipInfo" id="sZipInfo">
    </div>
</body>
</html>

<script src="js/compare.js"></script>