<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="">Travel Mode</a> <a href="">Locus Mode</a> <a href="">Compare Mode</a></h2>
    <div class="content">
        <form action="">
        Starting Location
        <input type="text" id="sLoc" name="fname"><br><br>
        Destination Location
        <input type="text" id="dLoc" name="fname"><br><br>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>