<%- include("./partials/header.ejs") %>
    <title>Home</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel" class="active">Travel Mode</a> <a href="">Locus Mode</a> <a href="">Compare Mode</a></h2>
    <div class="content">
        <form action="">
        Starting Location
        <input type="text" id="sLoc" name="fname"><br><br>
        Destination Location
        <input type="text" id="dLoc" name="fname"><br><br>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>