<%- include("./partials/header.ejs") %>
    <title>Locus</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> <a href="/locus">Locus Mode</a> <a href="">Compare Mode</a></h2>
    <div class="content" id="content">
        Destination Zip
        <input type="text" id="dLoc" name="dLoc"><br><br>
        <input type="submit" value="Submit" id="submit">
    </div>
</body>
</html>
<script src="js/locus.js"></script>