<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Locus</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> | <a class="active" href="/locus">Locus Mode</a> | <a href="">Compare Mode</a></h2>
    <div class="content" id="content">

        <label for="dLoc">Destination Zip</label><br>
        <input type="text" id="dLoc" name="dLoc" placeholder="Enter a Zip Code Here..."><br><br>
        <input type="submit" value="Submit" id="submit">
    </div>
</body>
</html>

<script src="js/locus.js"></script>