<%- include("./partials/header.ejs") %>
    <title>Travel</title>
</head>
<body>
    <h1>C11MATE</h1>
    <h2><a href="/travel">Travel Mode</a> <a href="/locus">Locus Mode</a> <a href="">Compare Mode</a></h2>
    <div class="content">
        <form action="">
        Starting Zip
        <input type="text" id="sLoc" name="sLoc"><br><br>
        Destination Zip
        <input type="text" id="dLoc" name="dLoc"><br><br>
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>