body{
    background-color: #CFE1F3;
}
/* App Name */
h1{
    color: white;
    text-align: center;
    font-size: 100px;
    margin: 0px;
}

/* Navigation bar*/
h2{
    text-align: center;
    font-size: 60px;
    margin: 0px;
    color: white;
    margin-bottom: 10px;
}
.active {
    color: dimgray;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    transition: .3s;
}
/* Middle Box */
.content{
    padding-top: 120px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    text-align: center;
    font-size:30px;
}
label{
    margin-top: 200px;
    color: black;
    font-weight: bold;
    font-size: 70px;
}

/* Submit Button */
input[type=submit]{
    border-radius: 10px;
    width: 20%;
    background-color: lightgray;
    padding: 10px 10px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
/* Text Inputs */
input[type=text]{
    border-radius: 10px;
    width: 30%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 10px 0;
}
.class{
    font-size: 50px;
}