@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(300deg, #CFE1F3, #bfc0c0);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
}

input:focus {
    outline: none;
}

.weather {
    font-size: 2rem;
    text-align: center;
}

.weather h2 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

/* Dark Mode */
.darkModeBody{
    background: linear-gradient(300deg, #2b2b2b, #383838);
    color: white;
}
.darkModeDiv{
    background-color: #3b3f41;
    color: white;
}
.darkModeLabel{
    color: white;
}
/* Dark Mode Switch */
/* Switch Created From https://www.w3schools.com/howto/howto_css_switch.asp */
/* The container around the Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider format and details*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3f41;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px; /* Create Round Shape Outer*/
}
/* Slider Ball */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #bfc0c0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; /* Create Round Shape Inner*/
}
/* Slider Input*/
input:checked + .slider {
    background-color: #CFE1F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

